<!doctype html>
<html>

<head>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">-->
    <link href="./css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script>
        function onHomeyReady() {
            Homey.ready();
            angular.bootstrap(document, ['simpleHue']);
        }
    </script>

</head>

<body ng-controller="hueCtrl">
  
        <h1>Simple hue <small>Dim them all</small></h1>


    <fieldset>
        <legend>Hue general settings</legend>

        <div class="field row">
            <label for="hueUser">Hue username</label>
            <input id="hueUser" ng-model="settings.hueUser" type="text" value="" placeholder="fill in your hue user name" />
        </div>
        <button ng-click="saveConfig()">Submit</button>
    </fieldset>

    <fieldset>
        <legend>Hue light settings</legend>

        <div class="field row">
            <label for="hueBrightness">Hue brightness</label>
            <input id="hueBrightness" ng-model="hueBrightness" type="text" value="" placeholder="hue brightness between 0-255" />
        </div>

        <button ng-click="setHueBrightness()">Set brightness</button>
    </fieldset>

    <div class="">
        <div class="panel panel-default" ng-repeat="(key, value) in hueData">
            <div class="panel-heading">
                <h3 class="panel-title">{{value.name}}</h3>
            </div>
            <div class="panel-body">
                {{value}}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./js/hueController.js"></script>
</body>

</html>